.layout {
    margin: 0px auto;
    width: 800px;
    &__header {
        border-bottom: 1px grey solid;
        margin-bottom: 40px;
    }
    &__logo {
        color: green;
        font-size: 200%;
        text-decoration: none;
    }
}
